
body {
  background-color: #f1cbcb;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

#createBtnContainer {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
}


.buttonRow {
  min-width: 200px;
}

#cardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px;
}
.card {
 margin-bottom: 20px;
  padding: auto;
  border: #080808 solid 2px;
}
.rcorners {
  border-radius: 25px;
}
.navigation-btn {
  display:flex;
  justify-content: center;
  padding: 10px;
  gap: 20px;
} 
.nameColor {
  background-color: lightgrey;
  font-weight: bold;
  margin: 0px;
}

.btn-delete {
  background-color: #e9e2da ;
  border: #080808 1px solid;
  float: right;
  border-radius: 25px;
  }

img {
    border: solid 2px black;
    margin-top: 5px;
  }

.color-dog {
  background-color: rgb(240, 211, 169);
  color: rgb(0, 0, 0);
}

.color-cat {
  background-color: rgb(156, 217, 221);
  color: blue;
}

.color-dino {
  background-color: rgb(169, 196, 127);
  color: rgb(209, 149, 19);
}

.cat-btn-color {
  background-color: rgb(156, 217, 221);
  color: white;
}

.dog-btn-color {
  background-color: rgb(169, 240, 169);
  color: green;
}

.dino-btn-color {
  background-color: rgb(169, 196, 127);
  color: rgb(209, 149, 19);
}
/*

p {
  padding: 5px;
}




.submit-btn-color {
  background-color: rgb(25, 16, 145);
  color: rgb(221, 168, 218);
}
.caption {
  display: block;
}

.navigation-btn {
  display:flex;
  justify-content: center;
  padding: 10px;
  gap: 20px;
} */
